#root {
	display: flex;
	flex-direction: column;
	justify-content: between;
	/* margin: 0 auto; */
	text-align: center;
	width: 100%;
}

table {
	width: 100%;
}

header {
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
